.button-icon {
    border-radius: 16px;
    &--large{
        width: 160px;
        height: 160px;
    }

    &--small{
        width: 80px;
        height: 80px;
    }

    &--enabled{
        background: #ffffff;
        border: 2px solid #DADADA;
    }
    &--hovere{
        background: #FFFFFF;
        mix-blend-mode: hard-light;
        border: 2px solid #DADADA;
    }
    &--pressed{
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 2px solid #DADADA;
    }
    &--disabled{
        background: #FFFFFF;
        mix-blend-mode: darken;
        border: 2px solid #DADADA;
    }
}
  